.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #333436 #1d1d1d;
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #1d1d1d;
  border-radius: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #333436;
  border-radius: 6px;
  border: 3px solid #333436;
}
